#logo {
  left: 98px;
  top: 38px;
  position: absolute;
  top: 0px;
  width: 31px;
  height: 25px;
  z-index: 111;
}
.head {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #10c9c3;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 45px;
}

.webdevelopment {
  top: 234px;

  font-size: 38px;
  letter-spacing: 0px;
  line-height: 48px;
  color: #1d1d1d;
  font-family: "Montserrat";
  font-weight: 500;
}
.newdesign {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 28px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;

  top: 304px;
}

.height {
  top: 304px;
}
.button {
  width: 180px;
  height: 54px;
  background-color: #10c9c3;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 84px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  line-height: 50px;
}
.gray {
  width: 100%;
  height: 670px;
  background-color: #e9e9e9;
}
.about {
  text-align: center;
  position: absolute;
  left: 35%;
  top: 600px;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 60px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
}

.divide {
  position: absolute;
  top: 670px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
}
.signature {
  position: absolute;
  top: 173%;
  text-align: center;
}
.gray_1 {
  position: absolute;
  top: 1330px;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9;
}
.skill {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 570px;
  background-color: #f8f9f9;
}
.title_skill {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 84px;
  color: #171717;
  font-family: "Montserrat";
  font-weight: 500;
}
.ui {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #000000;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
}

.pe {
  position: absolute;
  width: 100%;
  /* left: -100px; */
  margin-left: -30%;
  top: 500px;

  height: 240px;
  background-color: #10c9c3;
}
.imga {
  position: absolute;
  top: 100px;
  left: 7%;
}
.five {
  font-size: 1.3177159590043923vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 95px;
  left: 11%;
}
.project {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 115px;
  left: 11%;
}
.clock {
  position: absolute;
  top: 5000%;
  left: 35%;
}
.one {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 5000%;
  left: 39%;
}
.work {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 6000%;
  left: 39%;
}
.star {
  position: absolute;
  top: 95px;
  left: 55%;
}
.six {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 95px;
  left: 59%;
}
.positiv {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 115px;
  left: 59%;
}
.like {
  position: absolute;
  top: 95px;
  left: 80%;
}
.seven {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 95px;
  left: 84%;
}
.hapy {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 115px;
  left: 84%;
}
.h {
  position: absolute;
  top: 100%;
}
.outer {
  position: relative;

  width: 100%;
  padding-bottom: 13%;
}
.inner {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: #10c9c3;
  top: 1220px;
}
.inne {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: #10c9c3;
  top: 1220px;
}
.here {
  position: absolute;
  top: 1460px;
}
.here_1 {
  position: absolute;
  top: 1620px;
  display: flex;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.column {
  float: left;
  width: 25%;
  padding: 0px;
}
.her_2 {
  width: 342px;
  height: 300px;
}
.load {
  font-size: 12px;
  letter-spacing: 1px;
  color: #8e8e8e;
  background-color: #f5f5f5;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 15px;
}
.our {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 60px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 150px;
}
.was {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: relative;
  top: 170px;
}
.video {
  position: relative;
  top: 200px;
}
.inner_1 {
  position: absolute;
  width: 100%;
  height: 535px;
  background-color: #f5f5f5;
  top: 300px;
}
.diamond {
  position: absolute;
  top: 100px;
  left: 9%;
}
.ux {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 6%;
  text-transform: uppercase;
}
.be {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 2%;
}
.arc {
  position: absolute;
  top: 100px;
  left: 36%;
}
.dv {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 32%;
  text-transform: uppercase;
}
.a {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 29%;
}
.phone {
  position: absolute;
  top: 100px;
  left: 65%;
}
.mob {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 63%;
  text-transform: uppercase;
}
.dom {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 59%;
}
.joy {
  position: absolute;
  top: 100px;
  left: 91%;
}
.game {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 89%;
  text-transform: uppercase;
}
.morning {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 85%;
}
.diamond {
  position: absolute;
  top: 100px;
  left: 8%;
}
.ux {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 6%;
  text-transform: uppercase;
}
.be {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 2%;
}
.arc {
  position: absolute;
  top: 100px;
  left: 36%;
}
.dv {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 32%;
  text-transform: uppercase;
}
.a {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 29%;
}
.phone {
  position: absolute;
  top: 100px;
  left: 65%;
}
.mob {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 63%;
  text-transform: uppercase;
}
.dom {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 59%;
}
.joy {
  position: absolute;
  top: 100px;
  left: 91%;
}
.game {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 89%;
  text-transform: uppercase;
}
.morning {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 85%;
}
.diamond {
  position: absolute;
  top: 100px;
  left: 8%;
}
.ux {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 6%;
  text-transform: uppercase;
}
.be {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 2%;
}
.arc {
  position: absolute;
  top: 100px;
  left: 35%;
}
.dv {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 32%;
  text-transform: uppercase;
}
.a {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 29%;
}
.phone {
  position: absolute;
  top: 100px;
  left: 65%;
}
.mob {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 63%;
  text-transform: uppercase;
}
.dom {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 59%;
}
.joy {
  position: absolute;
  top: 100px;
  left: 91%;
}
.game {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 145px;
  left: 89%;
  text-transform: uppercase;
}
.morning {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 175px;
  left: 85%;
}
.diamond_ {
  position: absolute;
  top: 280px;
  left: 9%;
}
.ux_ {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 325px;
  left: 6%;
  text-transform: uppercase;
}
.be_ {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 355px;
  left: 2%;
}
.arc_ {
  position: absolute;
  top: 280px;
  left: 34%;
}
.dv_ {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 325px;
  left: 32%;
  text-transform: uppercase;
}
.a_ {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 355px;
  left: 29%;
}
.phone_ {
  position: absolute;
  top: 280px;
  left: 65%;
}
.mob_ {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 325px;
  left: 63%;
  text-transform: uppercase;
}
.dom_ {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 355px;
  left: 59%;
}
.joy_ {
  position: absolute;
  top: 280px;
  left: 91%;
}
.game_ {
  font-size: 0.8784773060029283vw;
  letter-spacing: 1px;
  line-height: 30px;
  color: #191919;
  font-family: "Montserrat";
  font-weight: 500;
  position: absolute;
  top: 325px;
  left: 89%;
  text-transform: uppercase;
}
.morning_ {
  font-size: 1.171303074670571vw;
  letter-spacing: 0px;
  line-height: 24px;
  color: #787878;
  font-family: "Nunito Sans";
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 355px;
  left: 85%;
}
.inner_2 {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #10c9c3;
  top: 500px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #10c9c3;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background-color: #10c9c3;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  position: relative;
  top: 2px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
}

/* Add an italic font style to all quotes */
q {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
}

/* Add a blue color to the author */
.author {
  position: relative;
  top: 190px;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
}

.out {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: 200px;
}
.michael {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-align: center;
}
.layer{
  position: relative;
  top: 80px;
  left: 15%;
}
.let{
  font-size: 16px;
letter-spacing: 0px;
line-height: 24px;
color: #787878;
font-family: "Nunito Sans";
font-weight: 400;
text-align: center;
position: relative;
  top: 170px;
}
.need{
  position: relative;
  top: 150px;
  font-size: 30px;
letter-spacing: 0px;
line-height: 84px;
color: #1d1d1d;
font-family: "Montserrat";
font-weight: 500;
text-align: center;

}
.back{
  width: 100%;
height: 751px;
background-color: #f5f5f5;
}
.form{
  
  position: absolute;
  top: 1140px;
  text-align: center;
  left: 40%;
}
.rectangle{
  width: 320px;
height: 48px;
background-color: #ffffff;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=submit] {
  background-color: #10c9c3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contain {
  position: relative;
  top: 200px;
 
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2%;
  
}

.col-25 {
 
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  
  width: 70%;
  margin-top: 6px;
  
  
}


@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }}
  .tp{
    position: absolute;
    top: 100px;
    
  }
  .in {
    position: absolute;
    width: 100%;
    height: 284px;
    top: 180%;
    background-color: #141414;
  }
  .pi{
    font-size: 1.3177159590043923vw;
letter-spacing: 0px;
line-height: 72px;
color: #ffffff;
font-family: "Montserrat";
font-weight: 500;
position: absolute;
top: 110px;
left: 7%;
  }
  .pir{
    font-size: 1.0980966325036603vw;
letter-spacing: 0px;
line-height: 24px;
color: #bcbcbc;
font-family: "Nunito Sans";
font-weight: 400;
position: absolute;
top: 170px;
left: 7%;
  }
  .pi2{
    font-size: 1.0980966325036603vw;
letter-spacing: 0px;
line-height: 24px;
color: #bcbcbc;
font-family: "Nunito Sans";
font-weight: 400;
position: absolute;
top: 130px;
left: 50%;
  }
  .pi3{
    font-size: 1.0980966325036603vw;
letter-spacing: 0px;
line-height: 24px;
color: #bcbcbc;
font-family: "Nunito Sans";
font-weight: 400;
position: absolute;

left: 70%;

top:110px;

  }
  .pi4{
    font-size: 1.0980966325036603vw;
letter-spacing: 0px;
line-height: 24px;
color: #bcbcbc;
font-family: "Nunito Sans";
font-weight: 400;
position: absolute;

left: 80%;
top:110px;

  }

  a:link {
    color: #bcbcbc;
   
  }